.DS_Store
.idea/
.ipynb_checkpoints*
data/
old_data/
old_codes/
old_plots/
old_src/
plots/
new_repo/scripts/__pycache__/
new_repo/data/rcsb/ids/
new_repo/data/rcsb/pdb_files/
new_repo/data/alphafold/uniprot_ids/
new_repo/data/alphafold/pdb_files/
new_repo/data/alphafold/pdb_files.zip
new_repo/data/rcsb/lls*
new_repo/data/rcsb/distance_distribution_files.zip
